<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <p>{{ fkr.usuario.nombre }} {{ fkr.usuario.apellido }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="text-center">
                <h1>Bienvenido</h1>
            </div>
        </div>
    </div>
</div>