<div class="animated fadeIn" *ngIf="componenteListo">
    <div class="text-center">
        <h2>Areas Disponibles</h2>
    </div>
    <div class="div mt-5">
        <div class="row">
            <div class="col-md-3" *ngFor="let area of areas">
                <div class="card">
                    <div class="card-body text-center">
                        <img [src]="area.img" class="img-thumbnail img-fluid" [alt]="area.nombre">
                        <h4 class="mt-3">{{ area.nombre }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>